/* *{
  font-family:  ;
} */

#map {
    width:100%;
    height: 100%;
    position: absolute;
  }

#marker {
  background-image: url('./img/icons/marker.png');
  background-size: cover;
  width: 30px;
  height: 45px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 350px;
}
.mapboxgl-popup-content {
  max-width: 350px;
  background: #517c9e;
}